<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Treinamento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label>
      Nome do Treinamento: <strong>{{treinamento.nome}}</strong>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      Modalidade: <strong> {{treinamento.modalidade}} </strong>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      Tempo: <strong>{{treinamento.tempo}}</strong> min
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      Repeticoes: <strong>{{treinamento.repeticao}}</strong>
    </ion-label>
  </ion-item>
  <ion-list>
    <ion-grid fixed>
      <ion-row>
        <ion-col>
          Movimentos
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col style="background-color: white" size>
          <ion-item-sliding *ngFor="let t of treinamento.movimento">
            <ion-item>{{ t.nome.nome }}</ion-item>
            <ion-item-options side="end">
              <ion-item-option color="danger" (click)="deleteTreinamento(treinamento.id)">
                <ion-icon slot="top" name="trash"></ion-icon>
                Excluir
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>

</ion-content>