<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Movimento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- <ion-list *ngIf="!treinamento.length">
    <ion-item *ngFor="let item of [0, 1, 2]">
      <ion-avatar slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
  </ion-list> -->

  <ion-list>
    <ion-item-sliding *ngFor="let t of treinamento.movimento">
      

        <ion-label>
          {{ t }}
        </ion-label>
      

      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="deleteTreinamento(treinamento.id)">
          <ion-icon slot="top" name="trash"></ion-icon>
          Excluir
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-list>
    <ion-item-sliding *ngFor="let t of treinamento.repeticao">
      

        <ion-label>
          {{ t }}
        </ion-label>
      

      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="deleteTreinamento(treinamento.id)">
          <ion-icon slot="top" name="trash"></ion-icon>
          Excluir
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button (click)="saveTreinamento()" expand="block">
      Salvar Movimento
    </ion-button>
  </ion-toolbar>
</ion-footer>