.cabecalho{
text-align: center;
}
.titulo-table{
    align-items: center;
    text-align: center;
    font-weight: bold;
margin-bottom: 1em;
}
ion-col{
    padding: 10px;
    border: 1px solid yellow;
}
.container{
    background-color: black;
    color: #fff;
    height: 100%;
}