<ion-content>
<div class="container">
  <ion-grid>
        <ion-row class="cabecalho">
          <ion-col class="titulo-table">
            Exercício
          </ion-col>
          <ion-col class="titulo-table">
            Duração
          </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
              Wall Ball
            </ion-col>
            <ion-col>
              30
            </ion-col>
          </ion-row>

          
        <ion-row>
            <ion-col>
            Muscle Up
            </ion-col>
            <ion-col>
              5
            </ion-col>
          </ion-row>

          
        <ion-row>
            <ion-col>
              Strict Pull Up
            </ion-col>
            <ion-col>
              15
            </ion-col>
          </ion-row>

          
        <ion-row>
            <ion-col>
              Push Up
            </ion-col>
            <ion-col>
              25
            </ion-col>
          </ion-row>

          
        <ion-row>
            <ion-col>
              Burpee
            </ion-col>
            <ion-col>
              35
            </ion-col>
          </ion-row>

          <ion-row>
              <ion-col>
                Front Squat
              </ion-col>
              <ion-col>
                45
              </ion-col>
            </ion-row>
  
          
        <ion-row>
            <ion-col>
              Remada
            </ion-col>
            <ion-col>
              30
            </ion-col>
          </ion-row>

          
        <ion-row>
            <ion-col>
              DeadLift
            </ion-col>
            <ion-col>
              30
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
</ion-content>
