<ion-content>
<div class="container">
<h1 class="titulo">Bem vindo ao Gerador de Treinamento</h1>
<p class="descricao">Um aplicativo pensado para facilitar a vida do treinador e aprimorar o atendimento aos alunos.</p>
<span class="titulo-escolha">Escolha o que você deseja fazer:</span>
<div class="opcoes">
  <ion-button expand="full" color="yellow" class="opcao" (click)="openDefinicao()"> Gerar Treinamento </ion-button>
  <ion-button expand="full" color="yellow" class="opcao" (click)="mostrarExistentes()"> Vizualizar existentes </ion-button>
</div>
</div>
</ion-content>
